/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-image: url('/static/img/background.svg');
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

